[submodule "baredemo/lib/elements"]
	path = baredemo/lib/elements
	url = git@github.com:cycfi/elements.git
	ignore = dirty
	
[submodule "sshclient/lib/elements"]
	path = sshclient/lib/elements
	url = https://github.com/cycfi/elements.git
	ignore = dirty